# Example craq configuration file 

#version of craq this file was last compatible with
version = "0.2.1";

logging = {
	#the file to which to write logging information
	file = "logging/sample_router.log";
	
	# the minimum level of logging information to record
	# any of the following is acceptable, and they have the following precedence:
	# NOTSET < DEBUG < INFO < NOTICE < WARN < ERROR < CRIT < ALERT < FATAL = EMERG
	min_priority = "INFO";
};

#essentially the same as for each chain_node
router: {

	#name of datacenter of which this node is a part
	datacenter = "meru";
  # ip = "127.0.0.1";                    (optional)
	port = 5100;
	zookeeper_list = "127.0.0.1:2181";
		
};

